[submodule ".vim/bundle/seti.vim"]
	path = .vim/bundle/seti.vim
	url = https://github.com/trusktr/seti.vim
[submodule ".vim/bundle/tmuxline.vim"]
	path = .vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = git@github.com:skammer/vim-css-color.git
[submodule "vimwiki"]
	path = vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/nord-vim"]
	path = .vim/bundle/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
